

<h1>Find out how much it costs to ship your parcel!</h1>

<form action="/output">
  <div class="form-group">
    <label for="length">Length of your parcel</label>
    <input id="l" name="length" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="width">Width of your parcel</label>
    <input id="w" name="width" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="height">Height of your parcel</label>
    <input id="h" name="height" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
